{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
      
    {% endblock meta %}
    <title>Record Digita </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <!-- project css file  -->
    {% block styles %}{% endblock styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-GLhlTQ8iN17SqbEhlZ3Pvu9HqIByQ8FCSsNBIFPz9Obt/9eF5oJQ5I626aRdI1Hf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my-task.style.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/font-awesome.min.css' %}">
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
</head>
<body>
<div id="mytask-layout" class="theme-indigo">
    {% include 'new/sidebar.html' %}
    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">
        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">
                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                        <div class="d-flex">
                            <!-- <a class="nav-link text-primary collapsed" href="#" title="Get Help">
                                <i class="icofont-info-square fs-5"></i>
                            </a> -->
                            <!-- <div class="avatar-list avatar-list-stacked px-3">
                                <span class="avatar rounded-circle text-center pointer" data-bs-toggle="modal" data-bs-target="#addUser"><i class="icofont-ui-add"></i></span>
                            </div> -->
                        </div>
                        <!-- <div class="dropdown notifications zindex-popover">
                            <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                <span class="pulse-ring"></span>
                            </a>
                            <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                                <div class="card border-0 w380">
                                    <div class="card-header border-0 p-3">
                                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                            <span>Notifications</span>
                                            <span class="badge text-white">1</span>
                                        </h5>
                                    </div>
                                    <div class="tab-content card-body">
                                        <div class="tab-pane fade show active">
                                            <ul class="list-unstyled list mb-0">
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="/static/images/xs/avatar1.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">{{ account.user.first_name }}</span> <small>2MIN</small></p>
                                                            <span class="">Added  2021-02-19 my-Task ui/ux Design <span class="badge bg-success">Review</span></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <div class="avatar rounded-circle no-thumbnail">Isah</div>
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Diane Fisher</span> <small>13MIN</small></p>
                                                            <span class="">Task added Get Started with Fast Cad project</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a class="card-footer text-center border-top-0" href="#"> View all notifications</a>
                                </div>
                            </div>
                        </div> -->
                        <div class="dropdown notifications zindex-popover">
                            <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                <span class="pulse-ring"></span>
                            </a>
                            <div id="notifications-container" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                                <div class="card border-0 w380">
                                    <div class="card-header border-0 p-3">
                                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                            <span>Notifications</span>
                                            <span id="unread-notifications-count" class="badge text-white">0</span>
                                        </h5>
                                    </div>
                                    <div class="tab-content card-body">
                                        <div class="tab-pane fade show active">
                                            <ul id="notifications-list" class="list-unstyled list mb-0">
                                                <!-- Notifications will be dynamically added here -->
                                            </ul>
                                        </div>
                                    </div>
                                    <a id="mark-as-read-btn" class="card-footer text-center border-top-0" href="javascript:void(0);">Mark as Read</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                            <div class="u-info me-2">
                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">{{ account.user.first_name }}</span></p>
                                <small>{{ account.user_persona.name }}</small>
                            </div>
                            <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                <img class="avatar lg rounded-circle img-thumbnail" src="/static/images/profile_av.png" alt="profile">
                            </a>
                            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                <div class="card border-0 w280">
                                    <div class="card-body pb-0">
                                        <div class="d-flex py-1">
                                            <img class="avatar rounded-circle" src="/static/images/profile_av.png" alt="profile">
                                            <div class="flex-fill ms-3">
                                                <p class="mb-0"><span class="font-weight-bold">{{ account.user.first_name }}</span></p>
                                                <small class="">ukringim@recorddigita.com</small>
                                            </div>
                                        </div>
                                        
                                        <div><hr class="dropdown-divider border-dark"></div>
                                    </div>
                                    <div class="list-group m-2 ">
                                        <a href="task.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-tasks fs-5 me-3"></i>My Task</a>
                                        <a href="members.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-user-group fs-6 me-3"></i>members</a>
                                        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Signout</a>
                                        <a href="{% url 'update_signature' %}" class="list-group-item list-group-item-action border-0">Add/update Signature</a>
                                        <div><hr class="dropdown-divider border-dark"></div>
                                        <!-- <a href="ui-elements/auth-signup.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-contact-add fs-5 me-3"></i>Add personal account</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                        <span class="fa fa-bars"></span>
                    </button>
    
                    <!-- main menu Search-->
                    <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0">
                        <div class="input-group flex-nowrap input-group-lg">
                            <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>
                            <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                            <button type="button" class="input-group-text add-member-top" id="addon-wrappingone" data-bs-toggle="modal" data-bs-target="#addUser"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
    
                </div>
            </nav>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "danger" %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }} 
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{ message }} 
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
         
    </div>
</div>

<!-- Jquery Core Js -->


<!-- Jquery Page Js -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- <script src="{% static 'landing/js/jquery-3.3.1.min.js' %}"></script> -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'bundles/libscripts.bundle.js' %}"></script>

<!-- Plugin Js-->
<script src="{% static 'bundles/apexcharts.bundle.js' %}"></script>
<script>
    function fetchNotifications() {
        $.ajax({
            url: '{% url 'show_notifications' %}',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                const notificationsContainer = $('#notifications-list');
                const unreadCountContainer = $('#unread-notifications-count');
                notificationsContainer.empty();

                if (data.notifications.length > 0) {
                    for (const notification of data.notifications) {
                        const formattedDate = new Date(notification.created_at).toLocaleString();
                        const message = `<li class="py-2 mb-1 border-bottom">
                                            <a href="javascript:void(0);" class="d-flex">
                                                <img class="avatar rounded-circle" src="${notification.avatar}" alt="">
                                                <div class="flex-fill ms-2">
                                                    <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">${notification.sender}</span> <small>${formattedDate}</small></p>
                                                    <span class="">${notification.message}</span>
                                                </div>
                                            </a>
                                        </li>`;
                        notificationsContainer.append(message);
                    }
                    unreadCountContainer.text(data.unread_count);
                } else {
                    notificationsContainer.append('<li><p>No new notifications</p></li>');
                    unreadCountContainer.text('0');
                }
            }
        });
    }

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if this cookie string begins with the name we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }


    function markNotificationsAsRead() {
        $.ajax({
            url: "{% url 'mark_notifications_as_read' %}",
            method: 'POST',
            dataType: 'json',
            headers: {
        "X-CSRFToken": getCookie("csrftoken")
        },
            success: function () {
                fetchNotifications();  // Refresh notifications after marking as read
            }
        });
    }

    $(document).ready(function () {
        // Fetch and display notifications on page load
        fetchNotifications();

        // Periodically refresh notifications every 5 minutes
        setInterval(fetchNotifications, 5 * 60 * 1000);

        // Bind the 'Mark as Read' button click event
        $('#mark-as-read-btn').on('click', function () {
            markNotificationsAsRead();
        });
    });
</script>
{% block scripts %}{% endblock scripts %}
</body>

</html> 