{% extends "new/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block meta %}
<meta http-equiv="Content-Disposition" content="inline">
{% endblock meta %}

{% block content %}
<a href="javascript:history.back()" style="display: inline-block; margin-top: 10px; margin-bottom: 10px; margin-left: 30px;">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
<br>
<ul>
    {% for document in documents %}
      <li>
        <strong>Title:</strong> {{ document.title }}<br>
        
        <a href="{{ document.file.url }}"  target="_blank">{{ document.file.name }}</a><br>
      </li>
    {% empty %}
      <li>No documents found.</li>
    {% endfor %}
  </ul>
  
{% endblock content %}