{% extends 'new/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block meta %}
{% csrf_token %}
{% endblock meta %}
{% block content %}
<a href="javascript:history.back()" style="display: inline-block; margin-top: 10px; margin-bottom: 10px; margin-left: 30px;">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
</a>
<div class="card mb-3">
    <!-- <div class="card-header py-3  bg-transparent border-bottom-0">
        <button type="button" href="#" data-bs-toggle="modal" data-bs-target="#add-user-model" class="btn btn-icon btn-warning">Create User</button> 
    </div> -->
    
    <div class="card-body">
        <table id="patient-table" class="table table-hover align-middle mb-0" style="width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Category</th>
                    <th>Email</th>
                    <th>Register Date</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for contractor in contractors %}
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ contractor.company_name }}</td>
                        <td>{{contractor.category}} </td>
                        <td>{{contractor.account.user.email}} </td>
                        <td>{{contractor.account.user.date_joined}}</td>
                        <td id="status-{{ contractor.id }}"> {{contractor.status}} </td>
                        <td><a href="{% url 'contractor_document_list' contractor_id=contractor.id %}" class="btn btn-secondary">Check</a></td>
                        
                        {% if account.user_persona.persona_tier == 12 %}
                        <td>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle status-update-btn" data-contractor-id="{{ contractor.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Update Status
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item update-status-option" data-new-status="verified">Verified</a>
                                  <a class="dropdown-item update-status-option" data-new-status="pending">Pending</a>
                              </div>
                          </div>
                          </td>
                        {% endif %}
                            
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      // Set the CSRF token for AJAX requests
      $.ajaxSetup({
          headers: { "X-CSRFToken": "{{ csrf_token }}" }
      });

      $('.update-status-option').on('click', function(event) {
          event.preventDefault();
          var contractorId = $(this).closest('.dropdown').find('.status-update-btn').data('contractor-id');
          var newStatus = $(this).data('new-status');

          $.ajax({
              url: '{% url "update_contractor_status" 0 %}'.replace('0', contractorId),
              type: 'POST',
              data: { status: newStatus },
              dataType: 'json',
              success: function(response) {
                  if (response.success) {
                      // Update the UI to reflect the new status
                      $('#status-' + contractorId).text(newStatus);
                      
                  } else {
                      console.log('Update failed: ' + response.error);
                  }
              },
              error: function(error) {
                  console.log('Error:', error);
              }
          });
      });
  });
</script>

{% endblock scripts %}