{% extends 'new/base.html' %}
{% load widget_tweaks %}


{% block content %}
<!-- Body: Body -->
<div class="pcoded-content">
    <div class="container-xxl">
        {% if account.user_persona.persona_tier <= 5 %}
           {% include "new/1_5_tier_correspondance.html" %}
        {% elif account.user_persona.persona_tier == 6 %}
            {% include "new/6_tier_correspondance.html" %}
        {% elif account.user_persona.persona_tier == 7 %}
            {% include "new/7_tier_correspondance.html" %}
        {% endif %}
    </div>
</div>


{% endblock %}