{% extends 'new/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="/static/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/static/plugin/datatables/dataTables.bootstrap5.min.css">
{% endblock styles %}

{% block content %}
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Meetings</h3>
                    <div class="col-auto d-flex w-sm-100">
                        <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#createmeet"><i class="icofont-plus-circle me-2 fs-6"></i>Schedule New Meeting</button>
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row g-3 mb-3"> <h5> Upcoming </h5>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar lg  rounded-1 no-thumbnail bg-lightyellow color-defult">
                                <i class="icofont-mail fs-4"></i></div>
                            <div class="flex-fill ms-4 text-truncate">
                                <div class="text-truncate">Meeting titile</div>
                                <span class="badge bg-warning">Not Scheduled</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar lg  rounded-1 no-thumbnail bg-lightgreen color-defult"><i class="icofont-price fs-4"></i></div>
                            <div class="flex-fill ms-4 text-truncate">
                                <div class="text-truncate">Meeting Title</div>
                                <span class="badge bg-success">10:30 11-55-20 </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->

        <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Venue</th>
                                    <th>Scheduled By</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meeting in meetings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ meeting.title }}</td>
                                    <td>
                                        <p>{{ meeting.start_on|date:"D, d M Y" }} {{ meeting.start_time|time:"h:i A" }} to {{ meeting.end_on|date:"D, d M Y" }} {{ meeting.end_time|time:"h:i A" }}</p>
                                    </td>
                                    <td>{{ meeting.venue }}</td>
                                    <td>{{ meeting.scheduled_by.user.first_name }}</td>
                                    <td>
                                        {% if meeting.done %}
                                        <span class="badge bg-success">Finished</span>
                                        {% else %}
                                        <span class="badge bg-warning">Upcoming</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editmeeting{{ meeting.id }}"><i class="icofont-edit text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteMeetingModal{{ meeting.id }}"><i class="icofont-ui-delete text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create task-->
<div class="modal fade" id="createmeet" tabindex="-1"  aria-hidden="true">
    <form action="{% url 'meeting' %}" method="POST" enctype="multipart/form-data" class="your-form-class">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">Schedule Meeting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>                    
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Meeting Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="description" cols="50" rows="2"></textarea>
                    </div>
                    <div class="deadline-form mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">From</label>
                                <input type="date" class="form-control" name="start_on"><br/>
                                <input type="time" class="form-control" name="start_time" value="08:00:00">
                            </div>
                            <div class="col">
                                <label class="form-label">To</label>
                                <input type="date" class="form-control" name="end_on"><br/>
                                <input type="time" class="form-control" name="end_time" value="08:00:00">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Attachment</label>
                        <input type="file" class="form-control" name="attachment">
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-sm">
                            <label class="form-label">Participants</label>
                                <select class="form-select" multiple name="participants">
                                    {% for participant in participants %}
                                        <option value="{{ participant.id }}">{{ participant.user.first_name }}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-sm">
                            <label class="form-label">Venue</label>
                            <select class="form-select" id="venueField" name="venue">
                                <option value="physical">----------</option>
                                <option value="physical">Physical</option>
                                <option value="online">Online</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 mb-3" id="addressField">
                        <div class="col-sm">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" name="address">
                        </div>
                    </div>
                    <div class="row g-3 mb-3" id="linkField">
                        <div class="col-sm">
                            <label class="form-label">Link</label>
                            <input type="text" class="form-control" name="link">
                        </div>
                    </div>
                    
                    <hr>
                    <h4>Agenda</h4>
                    <div id="agenda-container">
                        <div class="row form-row agenda-row">
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="agenda[]" placeholder="Agenda">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="number" class="form-control create-minutes-input" name="minutes[]" placeholder="Minutes">
                            </div>
                            <div class="form-group col-md-2">
                                <button type="button" class="btn btn-danger delete-agenda">Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Minutes of Meeting</label>
                        <textarea id="create-minutes-of-meeting" name="minutes_of_meeting" class="form-control" rows="1"></textarea>
                    </div>
                    <button type="button" class="btn btn-success mt-2" onclick="addAgenda()">Add Agenda</button>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Done</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>


{% for meeting in meetings  %}
<div class="modal fade" id="editmeeting{{ meeting.id }}" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="addUserLabel">Edit Meeting</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'edit_meeting' meeting.id %}" method="POST" enctype="multipart/form-data" class="your-form-class">
                    {% csrf_token %}
                    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fw-bold" id="createprojectlLabel">Schedule Meeting</h5>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Meeting Title</label>
                                    <input type="text" class="form-control" name="title" value="{{ meeting.title }}">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <textarea name="description" class="form-control" rows="3">{{ meeting.description }}</textarea>
                                </div>
                                
                                <div class="deadline-form mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="datepickerded" class="form-label">From</label>
                                            <input type="date" class="form-control" name="start_on" value="{{ meeting.start_on|date:'Y-m-d'  }}">
                                            <br/>
                                            <input type="time" class="form-control" name="start_time" value="{{ meeting.start_time|time:'H:i' }}">
                                        </div>
                                        <div class="col">
                                            <label for="datepickerdedone" class="form-label">To</label>
                                            <input type="date" class="form-control" name="end_on" value="{{ meeting.end_on|date:'Y-m-d'  }}">
                                            <br/>
                                            <input type="time" class="form-control" name="end_time" value="{{ meeting.end_time|time:'H:i' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="attachment" class="form-label">Attachment</label>
                                    {% if meeting.attachment %}
                                        <p>Current File: <a href="{{ meeting.attachment.url }}" target="_blank">{{ meeting.attachment.name }}</a></p>
                                    {% endif %}
                                    <input type="file" class="form-control" name="attachment">
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-sm">
                                        <label class="form-label">Participants</label>
                                        <select class="form-select" multiple name="participants">
                                            {% for participant in participants %}
                                                <option value="{{ participant.id }}" {% if participant in meeting.participants.all %}selected{% endif %}>{{ participant.user.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3" id="venueField">
                                    <div class="col-sm">
                                        <label class="form-label">Venue</label>
                                        <select class="form-select" id="venue" name="venue">
                                            <option value="physical" {% if meeting.venue == "physical" %}selected{% endif %}>Physical</option>
                                            <option value="online" {% if meeting.venue == "online" %}selected{% endif %}>Online</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3" id="addressField">
                                    <div class="col-sm">
                                        <label class="form-label">Address</label>
                                        <input type="text" class="form-control" name="address" value="{{ meeting.address }}">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3" id="linkField">
                                    <div class="col-sm">
                                        <label class="form-label">Link</label>
                                        <input type="text" class="form-control" name="link" value="{{ meeting.link }}">
                                    </div>
                                </div>
                                <h4>Agenda</h4>
                                <div id="edit-agenda-container{{ meeting.id }}">
                                    {% for agenda in meeting.agendas.all %}
                                    <div class="row form-row agenda-row">
                                        <div class="form-group col-md-5">
                                            <input type="text" class="form-control" name="agenda[]" value="{{ agenda.agenda }}" placeholder="Agenda">
                                        </div>
                                        <div class="form-group col-md-5">
                                            <input type="number" class="form-control edit-minutes-input" name="minutes[]" value="{{ agenda.minutes }}" placeholder="Minutes">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button type="button" class="btn btn-danger edit-delete-agenda" data-agenda-id="{{ agenda.id }}">Delete</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Minutes of Meeting</label>
                                    <textarea id="edit-minutes-of-meeting{{ meeting.id }}" name="minutes_of_meeting" class="form-control" rows="1">{{ meeting.minutes_of_meeting }}</textarea>
                                </div>
                                
                                <!-- Add Agenda button -->
                                <button type="button" class="btn btn-success mt-2 edit-add-agenda" data-meeting-id="{{ meeting.id }}">Add Agenda</button>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- delete -->
<div class="modal fade" id="deleteMeetingModal{{ meeting.id }}" tabindex="-1" aria-labelledby="deleteMeetingModalLabel{{ meeting.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMeetingModalLabel{{ meeting.id }}">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this meeting?</p>
                <p>Meeting title: {{meeting.title}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <!-- Form to trigger deletion -->
                <form action="{% url 'delete_schedule_meeting' meeting.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

            <!-- <div class="inviteby_email">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Paticipant"  aria-describedby="exampleInputEmail1">
                    <button class="btn btn-dark" type="button" id="button-addon2">Send Invitation</button>
                </div>
            </div> -->
            <!-- <div class="members_list">
                <h6 class="fw-bold ">Meeting Information</h6>
                <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                    <li class="list-group-item py-3 text-center text-md-start">
                        <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                            <div class="flex-fill ms-3 text-truncate">
                                <h6 class="mb-0  fw-bold">Rachel Carr(you)</h6>
                                <span class="text-muted">rachel.carr@gmail.com</span>
                            </div>
                            <div class="members-action">
                                <span class="members-role ">Admin</span>
                                <div class="btn-group">
                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="icofont-ui-settings  fs-6"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                      <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                      <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center text-md-start">
                        <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                            <div class="no-thumbnail mb-2 mb-md-0">
                                <img class="avatar lg rounded-circle" src="assets/images/xs/avatar3.jpg" alt="">
                            </div>
                            <div class="flex-fill ms-3 text-truncate">
                                <h6 class="mb-0  fw-bold">Lucas Baker<a href="#" class="link-secondary ms-2">(Resend invitation)</a></h6>
                                <span class="text-muted">lucas.baker@gmail.com</span>
                            </div>
                            <div class="members-action">
                                <div class="btn-group">
                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Members
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                      <li>
                                          <a class="dropdown-item" href="#">
                                            <i class="icofont-check-circled"></i>
                                              
                                            <span>All operations permission</span>
                                           </a>
                                           
                                        </li>
                                        <li>
                                             <a class="dropdown-item" href="#">
                                                <i class="fs-6 p-2 me-1"></i>
                                                   <span>Only Invite & manage team</span>
                                               </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="icofont-ui-settings  fs-6"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                      <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Delete Member</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3 text-center text-md-start">
                        <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                            <div class="no-thumbnail mb-2 mb-md-0">
                                <img class="avatar lg rounded-circle" src="assets/images/xs/avatar8.jpg" alt="">
                            </div>
                            <div class="flex-fill ms-3 text-truncate">
                                <h6 class="mb-0  fw-bold">Una Coleman</h6>
                                <span class="text-muted">una.coleman@gmail.com</span>
                            </div>
                            <div class="members-action">
                                <div class="btn-group">
                                    <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Members
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                      <li>
                                          <a class="dropdown-item" href="#">
                                            <i class="icofont-check-circled"></i>
                                              
                                            <span>All operations permission</span>
                                           </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fs-6 p-2 me-1"></i>
                                                   <span>Only Invite & manage team</span>
                                               </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="icofont-ui-settings  fs-6"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                          <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                          <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                          <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Suspend member</a></li>
                                          <li><a class="dropdown-item" href="#"><i class="icofont-not-allowed fs-6 me-2"></i>Delete Member</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}

<!-- Plugin Js-->
<script src="{% static 'bundles/dataTables.bundle.js' %}"></script>
<script>
    // project data table
    $(document).ready(function() {
        $('#myProjectTable')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
        $('.deleterow').on('click',function(){
        var tablename = $(this).closest('table').DataTable();  
        tablename
                .row( $(this)
                .parents('tr') )
                .remove()
                .draw();

        } );
    });
</script>
<script>
    $(document).ready(function() {
        // Hide address and link fields initially
        $("#addressField").hide();
            $("#linkField").hide();

            // Attach change event to the venue field
            $("#venueField").change(function() {
                // Check the selected value
                var selectedValue = $(this).val();

                // Toggle visibility of address and link fields based on the selected value
                if (selectedValue === "physical") {
                    $("#addressField").show();
                    $("#linkField").hide();
                } else if (selectedValue === "online") {
                    $("#addressField").hide();
                    $("#linkField").show();
                } else {
                    $("#addressField").hide();
                    $("#linkField").hide();
                }
            });
        });
</script>

<!-- create agenda -->
<script>
    function addAgenda() {
        var agendaContainer = document.getElementById('agenda-container');
        var newAgendaDiv = document.createElement('div');
        newAgendaDiv.classList.add('form-row', 'agenda-row', 'row', 'mt-2');
        newAgendaDiv.innerHTML = `
            <div class="form-group col-md-5">
                <input type="text" class="form-control" name="agenda[]" placeholder="Agenda">
            </div>
            <div class="form-group col-md-5">
                <input type="number" class="form-control create-minutes-input" name="minutes[]" placeholder="Minutes">
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-danger delete-agenda">Delete</button>
            </div>
        `;
        agendaContainer.appendChild(newAgendaDiv);

        // Add event listener to delete button
        var deleteButton = newAgendaDiv.querySelector('.delete-agenda');
        deleteButton.addEventListener('click', function() {
            newAgendaDiv.remove();
            updateTotalMinutes();
        });

        updateTotalMinutes();
    }

    function updateTotalMinutes() {
        var totalMinutes = calculateTotalMinutes();
        // Set the total minutes value to the "Minutes of Meeting" field
        document.getElementById('create-minutes-of-meeting').value = totalMinutes;
    }

    function calculateTotalMinutes() {
        var totalMinutes = 0;
        var minutesInputs = document.querySelectorAll('.create-minutes-input');
        minutesInputs.forEach(function(input) {
            if (input.value) {
                console.log('inpit value')
                console.log(input.value)
                totalMinutes += parseInt(input.value);
            }
        });
        return totalMinutes;
    }

</script>


<!-- edit agenda -->
<script>
    $(document).ready(function() {
        // Delete agenda item
        $(document).on('click', '.edit-delete-agenda', function() {
            var agendaId = $(this).data('agenda-id');
            $.ajax({
                type: 'POST',
                url: 'meet/delete_agenda/' + agendaId + '/',
                data: {
                    'agenda_id': agendaId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // Remove the deleted agenda row from the DOM
                    $('[data-agenda-id="' + agendaId + '"]').closest('.agenda-row').remove();
                }
            });
        });
    });

$(document).ready(function() {
        editUpdateTotalMinutes();
    });
    
// Event listener for the add button in edit form
$(document).ready(function() {
    $('.edit-add-agenda').on('click', function() {
        var meetingId = $(this).data('meeting-id');
        var agendaContainer = $('#edit-agenda-container' + meetingId);
        var newAgendaDiv = $('<div>').addClass('row form-row agenda-row');
        newAgendaDiv.html(`
            <div class="form-group col-md-5">
                <input type="text" class="form-control" name="agenda[]" placeholder="Agenda">
            </div>
            <div class="form-group col-md-5">
                <input type="number" class="form-control edit-minutes-input" name="minutes[]" placeholder="Minutes">
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-danger edit-delete-agenda" data-agenda-id="{{ agenda.id }}">Delete</button>
            </div>
        `);
        agendaContainer.append(newAgendaDiv);

        // Add event listener to delete button
        newAgendaDiv.find('.edit-delete-agenda').on('click', function() {
            $(this).closest('.agenda-row').remove();
            editUpdateTotalMinutes(meetingId); // Update total minutes after deleting agenda item
        });

        editUpdateTotalMinutes(meetingId); // Update total minutes after adding agenda item
    });
});

function editUpdateTotalMinutes(meetingId) {
    var totalMinutes = editCalculateTotalMinutes(meetingId);
    $('#edit-minutes-of-meeting' + meetingId).val(totalMinutes);
}

function editCalculateTotalMinutes(meetingId) {
    var totalMinutes = 0;
    $('#edit-agenda-container' + meetingId + ' .edit-minutes-input').each(function() {
        var minutes = parseInt($(this).val()) || 0;
        totalMinutes += minutes;
    });
    return totalMinutes;
}    
    
</script>

{% endblock scripts %}
