{% extends 'new/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="body d-flex py-3">
    <div class="container-xxl">

        <div class="row align-item-center">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Compose A New Memo</h6> 
                    </div>
                    <div class="card-body">
                        <form id="advanced-form" method="post" data-parsley-validate >{% csrf_token %}
                            <div class="row g-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="text-input3" class="form-label">Title </label>
                                        {% render_field form.title class="form-control"  %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="text-input3" class="form-label">Send To</label>
                                        {% render_field form.send_to class="form-control"  %}
                                    </div>
                                </div>  
                                <label class="form-label" for="exampleInputEmail4">Content</label>
                                    {% render_field form.content class="form-control" id="exampleInputEmail1" placeholder="Subject" %}
                            </div> </br>
                            <a href="#!" data-bs-toggle="modal" data-bs-target="#pdfUPLOAD" data-bs-toggle="tooltip" data-bs-placement="top" title="Attach files" class="text-body">
                                Attachment <i class="fas fa-paperclip"></i>
                            </a> {% for item in request.session.attachment %}
                            {% if not forloop.counter|divisibleby:2 %}
                                <li>
                                    {{ item }} 
                                    <a href="{{ item }}" title="Delete Attachment" class="text-body">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail4">Urgent</label>
                                {% render_field form.urgent %}
                            </div>
                        </div>
                    </br>   
                             <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- Row end  -->

    </div>
</div>




<div class="modal fade" id="pdfUPLOAD" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title  fw-bold" id="addUserLabel">Attach a File</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="inviteby_email">
                <div class="input-group mb-2">
                    {% render_field upload_form.media class="form-control" id="exampleInputEmail1" %}
                    <button class="btn btn-dark" type="submit" id="button-addon2">Upload</button>
                </div>
            </div>
            <form>
        </div>
    </div>
    </div>
</div> 
{% endblock content %}


