{% extends 'new/base.html' %}
{% load widget_tweaks %}


{% block content %}
<style>
    /* Add a hover effect to the link */
    .row-deck h5:hover {
        color: #007bff;
        /* Change the color to your desired hover color */
        cursor: pointer;
        /* Change the cursor to a pointer to indicate interactivity */
        text-decoration: underline;
        /* Add underline on hover, you can customize this */
    }
</style>
<!-- Body: Body -->
<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row clearfix g-3">
            
            <div class="row clearfix g-3">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card title h3">{{procurement}}</div>
                        <div class="card-body">
                            <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Contractor</th>
                                        <th>File</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files %}
                                    <tr>
                                        <td>
                                            <span class="fw-bold"></span>
                                        </td>
                                        <td>
                                            <span class="fw-bold ms-1"> {{file.contractor.company_name}} </span>
                                        </td>
                                        <td>
                                            <a href="{{file.file.url}}">{{file.file.file}}</a>

                                        </td>
                                        
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}