    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0">
        <div class="d-flex flex-column h-100">
            <a href="#" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <svg  width="35" height="35" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                </span>
                <span class="logo-text">Record Digita</span>
            </a>
            <!-- Menu: main ul -->

            <ul class="menu-list flex-grow-1 mt-3">
                {% if account.user_persona.persona_tier <= 7  %}
                <li class="collapsed">
                    <a class="m-link {% if value is 1 %}active{% endif %}"  href="{% url 'dashboard' %}">
                        <i class="icofont-home fs-5"></i> 
                        <span>Dashboard</span> 
                        <span class="arrow ms-auto text-end fs-5"></span>
                    </a>
                    <!-- Menu: Sub menu ul -->
                </li>
                <li  class="collapsed">
                    <a class="m-link {% if value is 2 %}active{% endif %}"  data-bs-toggle="collapse" data-bs-target="#correspondance" href="{% url 'correspondance' %}">
                        <i class="icofont-briefcase"></i><span> Correspondance</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <ul class="sub-menu collapse {% if value is 2 %}show {% endif %}" id="correspondance">
                            <li><a class="ms-link {% if value is 2 and internal is 1%}active{% endif %}" href="{% url 'new_mail' %}"> <span>New Memo</span></a></li>
                            <li><a class="ms-link {% if value is 2 and internal is 2%}active{% endif %}" href="{% url 'correspondance' %}"> <span>Memos/Correspondance</span></a></li>
                        </ul>
                </li>
                
                <li class="collapsed">
                    <a class="m-link"  href="{% url 'meeting' %}"><i
                            class="icofont-ticket"></i> <span> Meetings</span> <span class="arrow ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                </li>
                
                {% elif account.user_persona.persona_tier == 10 %}
                <li class="collapsed">
                    <a class="m-link {% if value is 6 %}active{% endif %}" data-bs-toggle="collapse" data-bs-target="#extra-Components" href="#">
                        <i class="icofont-code-alt"></i> <span>System Settings</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse {% if value is 6 %}show {% endif %}" id="extra-Components">
                        <li><a class="ms-link {% if value is 6 and internal is 1%}active{% endif %}" href="{% url 'user_persona' %}"><span>Persona</span></a></li>
                        <li><a class="ms-link {% if value is 6 and internal is 2%}active{% endif %}" href="{% url 'users_view' %}"><span>Users</span></a></li>
                        <li><a class="ms-link {% if value is 6 and internal is 3%}active{% endif %}" href="{% url 'units_view' %}"><span>Units</span></a></li>
                    </ul>
                </li>   
                {% elif account.user_persona.persona_tier == 11 %}
                    <li class="collapsed">
                        <a class="m-link {% if value is 1 %}active{% endif %}"  href="{% url 'dashboard' %}">
                            <i class="icofont-home fs-5"></i> 
                            <span>Dashboard</span> 
                            <span class="arrow ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                    </li>
                {% endif %} 
                
                {% with  tier=account.user_persona.persona_tier %}
                    
                    {% if tier == 12 or tier == 1 %}
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#client-Components" href="#"><i
                                class="icofont-user-male"></i> <span>Projects</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="client-Components">
                            <li><a class="ms-link" href="{% url 'procurement' %}"> <span>On Boarding</span></a></li>
                            <li><a class="ms-link" href="{% url 'precurement_list' %}"> <span>Procurement</span></a></li>
                            <li><a class="ms-link" href="{% url 'fprocurement_list' %}"> <span>Files</span></a></li>
                        </ul>
                    </li>
                    {% endif %}
                        
                {% endwith %}
                    
                <li class="collapsed">
                    <a class="m-link" data-bs-target="#menu-Componentsone" href="{% url 'change_password' %}"><i
                            class="icofont-ui-calculator"></i> <span>Accounts</span> <span class="arrow ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                </li>
                <li class="collapesed">
                    <a href="{% url 'logout' %}" class="m-link"><i class="icofont-logout fs-6 me-3"></i>Signout</a>
                </li>
                

            </ul>
            
            <!-- Theme: Switch Theme -->
            <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-switch">
                        <input class="form-check-input" type="checkbox" id="theme-switch">
                        <label class="form-check-label" for="theme-switch">Enable Dark Mode!</label>
                    </div>
                </li>
            </ul>
            
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>