{% extends 'correspondance.html' %}
{% load widget_tweaks %}
{% load static %}


{% block correspondance %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
   <!-- [ Main Content ] start -->
<div class="pc-container sidebar-layouts">
    <div class="pcoded-content">
        <div class="page-sidebar">
            <div class="mail-l-content">
                <div class="p-3">
                    <a href="{% url 'new_correspondance' %}" class="btn btn-light-secondary btn-block" ><i data-feather="plus"></i> New</a>
                </div>
                <ul class="mb-2 nav nav-tab flex-column nav-pills sidebar-links" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <li class="nav-item mail-section">
                        <a class="nav-link  link-hover-info" id="v-pills-settings-tab" data-bs-toggle="pill"
                            href="#v-pills-mail" role="tab">
                            <span><i class="material-icons-two-tone">send</i> Mails</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="pc-head">
                <div class="mail-search">
                    <form class="px-3 w-100 h-100 d-flex align-items-center">
                        <div class="form-group mb-0 d-flex align-items-center w-100">
                            <i data-feather="search"></i>
                            <input type="search" class="form-control border-0 shadow-none"
                                placeholder="Search here. . .">
                            <a href="#!" class="search-close text-body"><i data-feather="x" class=""></i></a>
                        </div>
                    </form>
                </div>
                <div class="pc-toggle-sidemenu">
                    <a href="#!"><i class="material-icons-two-tone">menu_open</i></a>
                </div>
                <div class="pc-head-content">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a href="#!" class="mail-search-toggle"><i class="material-icons-two-tone">search</i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pc-body">
                <div class="card email-card">
                    <div class="mail-body">
                        <!-- [ inbox-right section ] start -->
                        {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.error %}danger{% else %}success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                        
                        <div class="inbox-right">
                            <div class="tab-content p-0" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-mail" role="tabpanel">
                                    <div class="card-body">
                                        <div class="mail-body-content table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    {% for memo in memos %}
                                                        <tr class="">
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input input-danger"
                                                                            type="checkbox">
                                                                    </div>
                                                                    <a href="#">
                                                                        <i class="feather {% if memo.stared %}icon-star-on text-warning {% else %}icon-star ms-2{% endif %} ms-2"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td><a href="{% url 'protocol_view_memo' memo.folder.id %}" class="email-name">{{ memo.send_to.user.first_name }}</a></td>
                                                            <td><a href="{% url 'protocol_view_memo' memo.folder.id %}" class="email-name">{{ memo.folder.title }}</a></td>
                                                            <td class="email-time">{{ memo.created }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ inbox-right section ] end -->
                    </div>
                </div>
            </div>
            <div class="pc-sideoverlay"></div>
        </div>
    </div>
</div>


{% endblock correspondance %}